.banner{
   background-image:url('http://[::1]/test_project_codeigniter/Assets/image/img1.jpg');
   padding:15rem 6rem;
   background-size: 100% 100%;
}
.add {
    background-color: #fac769;
}
.text_color{
    color: white;
}
.section {
    background-color:#fdcf19;
}
.btn_1 {
    border-radius: 25px;
    background-color: white;
    font-size: 20px;

}
.learn_more {
    border-radius: 25px;
}
.card-body {
    background-color:#fdcf19;
}

#bg_img {
  background-size: 100% 100%;
  background-image: url('img3.jpeg');

}
#bg_img1{
  background-size: 100% 100%;
  background-image: url('2.jpeg');

}
#bg_img2{
  background-size: 100% 100%;
  background-image: url('1.jpeg');

}


.image-background{
  background-image: url('img3.jpeg');
  height: 200px;
  width: 100%;
}

.button_headphone {
border-radius: 25px;
opacity: 0.7;
  background-color:#fdcf19;
}
b{
          color: #e4ba4e;
          font-size:  60px;
         top:65px;
          bottom: 0px;
          font-weight: bold;
          position: relative;
      }
      .endp
      {

      position: absolute;
          margin: 0px;
          padding: 0px;
         top: 24;
         opacity: 0.7;
      }
      .colend{
          padding: 0px;
      }
      .numbers{
        margin-right: 140px;
      }
      .nav_btn{
        background-color: white;
        border-radius: 15px;
      }
      @media only screen and (max-width: 768px){
      .col-md-4 {
          flex: 0 0 auto;
          width: 33.33333333%;
      }
      }



@media only screen and (max-width: 400px) {
    .banner {
        padding: 10rem,2rem;
    }
}
@media only screen and (max-width: 400px) {
    .text_f {
        /* margin-left: -101; */
        margin-left: -94px;
    }
}
@media only screen and (max-width: 400px) {
    .learn_more {
        margin-top: -4rem!important;
        margin-left: 133px;
    }
    .myCard{
      width: 100% !important;
    }
}


@media only screen and (max-width: 500px) {
    .learn_more {
        margin-top: -4rem!important;
       margin-left: 123px;
    }
}
@media only screen and (max-width: 559px) {
    .learn_more {
       margin-left: 170px;
    }
}
/* @media only screen and (max-width: 559px) {
    .pad_txt {
      margin-bottom: -21px;
    }
}
 */

.soc-item{
  display: inline;
  /* padding: 8px 16px; */
}
nav {
      position: fixed;
      width: 100% 100%;
  line-height: 60px;
  z-index: 999;

}
.black{
background: #fac769;
}
.mbr-section-title{
line-height: 1.2;
}
.mbr-section-subtitle{
color: #767676;
}
.display-5 {
font-family: 'Poppins', sans-serif;
font-size: 1rem;
}
.align-center {
text-align: center;
}
.display-7 {
font-family: 'Rubik', sans-serif;
font-size: 1rem;
}
.social-media {
justify-content: center;
padding-right: 0rem;
display: inline;
}
.social-media ul li {
padding: 4px;
display: inline-block;
}
.logo-section {
justify-content: center;
padding-left: 0rem;
margin-bottom: 1.5rem;
}
.mbr-light {
font-weight: 300;
}
.mbr-text {
font-style: normal;
line-height: 1.6;
}
.align-items-center {
align-items: center!important;
}
.myCard{
width: 400px;
}
.btn_learn_more{
position: relative;
border-radius: 15px;
top: 50%;
}
/* .icon{
background-color:#e9a018 ;
} */
.google-map iframe {
height: 100%;
width: 100%;
}
.nav_1{
justify-content: space-around;
align-items: center;
width: 100%;
position: fixed;
line-height: 60px;
z-index: 999;

}
